@model IEnumerable<CodexEvents.Models.Event>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 400 15px Lato, sans-serif;
            line-height: 1.8;
            color: #818181;
        }

        h2 {
            font-size: 24px;
            text-transform: uppercase;
            color: #303030;
            font-weight: 600;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 19px;
            line-height: 1.375em;
            color: #303030;
            font-weight: 400;
            margin-bottom: 30px;
        }

        .jumbotron {
            background-color: #f4511e;
            color: #fff;
            padding: 100px 25px;
            font-family: Montserrat, sans-serif;
        }

        .container-fluid {
            padding: 60px 50px;
        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .navbar {
            margin-bottom: 0;
            background-color: #f4511e;
            z-index: 9999;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

            .navbar li a, .navbar .navbar-brand {
                color: #fff !important;
            }

        .navbar-nav li a:hover, .navbar-nav li.active a {
            color: #f4511e !important;
            background-color: #fff !important;
        }

        .navbar-default .navbar-toggle {
            border-color: transparent;
            color: #fff !important;
        }

        .slideanim {
            visibility: hidden;
        }

        .slide {
            animation-name: slide;
            -webkit-animation-name: slide;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            visibility: visible;
        }
        .noEvents {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
        .myEventsTable {
            width: 85%;
            margin: 0 auto;
            border-radius: 16px;
            background: #ffffff;
            box-shadow: 10px 10px 21px #8a8a8a, -10px -10px 21px #ffffff;
            font-family: Montserrat, sans-serif;
            padding-top: 40px;
        }
        .createEventFooter {
            background-color: #f4511e;
            letter-spacing: 4px;
            border-radius: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 14px 16px;
            width: 100%;
            align-self: stretch;
        }

        .createEventFooter a {
            color: #fff !important;
            float: center;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            border: 1px solid #f4511e;
            display: inline-block;
            width: 100%;
            height: 100%;
            align-self: stretch;
        }

        .createEventFooter a:hover {
            color: #f4511e !important;
            background-color: #fff !important;
        }
    </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">CodeX Events</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="ShowProfile">My Profile</a></li>
                    <li><a href="PerformLogout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>CodeX Events</h1>
        <p>Event Registration Portal</p>
    </div>

    <div class="myEventsTable">
        <h2>My Events</h2>
        @if (Model.Count<Event>() != 0)
        {
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Time</th>
                    <th>Available Seats</th>
                    <th>Pending Requests</th>
                </tr>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.Name</td>
                        <td>@e.Time</td>
                        <td>@e.AvailableSeats</td>
                        <td>@e.PendingRequests</td>
                        <td><a href="ShowEvent?eventId=@e.Id">View Details</a></td>
                    </tr>
                }

            </table>
        }
        else
        {
            <p class="noEvents">No Events listed.</p><br /><br />
        }
    </div>

    <div class="createEventFooter navbar-fixed-bottom">
        <a href="CreateEvent">Create a new event</a>
    </div>

</body>
</html>
